doctype html
html
  head
    title= title
    link(defer rel='stylesheet', href='/stylesheets/style.css')
    script(defer src="/javascripts/socket.io.js")
    script(defer src="/javascripts/main.js")
    script(defer src="/javascripts/panzoom.js")
  body#body
    #main-wrapper
      canvas#board
      svg#svg
    #ui-wrapper
      #spells-ui
      #resources-ui