doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/socket.io.js")
    if user
      script(src="/javascripts/main.js")
  body#body
    .main-wrapper
      canvas#board
