doctype html
html
  head
    link(defer rel='stylesheet' charset="UTF-8" href='/stylesheets/style.css')
    script(defer src="/javascripts/socket.io.js" charset="UTF-8" type="text/javascript" )
    script(defer src="/javascripts/main.js" charset="UTF-8" type="text/javascript" )
    script(defer src="/javascripts/panzoom.js" charset="UTF-8" type="text/javascript" )
  body#body
    #main-wrapper
      canvas#board
      svg#svg
    #ui-wrapper
      #spells-ui
      #resources-ui