doctype html
html
  head
    link(defer rel='stylesheet' charset="UTF-8" href='/stylesheets/style.css')
    script(defer src="/javascripts/socket.io.js" charset="UTF-8" type="text/javascript" )
    script(defer src="/javascripts/main.js" charset="UTF-8" type="text/javascript" )
    script(defer src="/javascripts/panzoom.js" charset="UTF-8" type="text/javascript" )
  body#body
    #main-wrapper
      canvas#board.panzoom-exclude
      svg#svg.panzoom-exclude
        defs
          radialGradient#green(cx="50%" cy="50%" r="50%" fx="50%" fy="50%")
            stop(offset="50%" style="stop-color:rgb(0,0,0, 0.0);stop-opacity:0")
            stop(offset="100%" style="stop-color:rgb(0,255,0);stop-opacity:0.4")
          radialGradient#blue(cx="50%" cy="50%" r="50%" fx="50%" fy="50%")
            stop(offset="50%" style="stop-color:rgb(0,0,0, 0.0);stop-opacity:0")
            stop(offset="100%" style="stop-color:rgb(40,70,255);stop-opacity:0.6")
    #ui-wrapper
      #spells-ui
      #resources-ui