extends layout

block content
  .wrapper
    section
      .content
        h1 Welcome, exile.
        p A reckless war has caused the fabric of reality to shatter.
        p Reality only exists when observed.
        p Reality must be re-asserted by repairing the filaments that once bound it together.
        p This filament is called Tether.
        p Find Tether. Restore reality. Rebuild the world.
  .fade


    
