extends layout

block content
  section
    h1 We are live! 8/12 2021
    p This is the very early alpha version of Black Dust. A browser strategy game that i developed as the product for my bachelors project.
    p Please register to enter the game. There is no email verification so you don't need to use a valid address.
    br
    p The game features so far: 
    p - Basic user interface
    p - Hexagonal map with terrain tiles
    p - 1 spell that reveals new tiles
    p - The map is persistent and will be saved to a database
    br
    p Please note that you will need to refresh the browser if the terrain tiles start getting cut off.
    br
    p //Martin
