body {
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;

}
section {
  padding: 20px;
}
a {
  color: #00B7FF;
}

header {
width: 20%;
height: 100%;
float:  left;
background-color: black;
}

header p {
  color: white;
  margin: 10px;
}


input {
  margin: 10px;

}