body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: black;
}
section {
display: inline-block;
width: 100%;
background-color: white;
margin-left: 200px;


}

header {
width: 200px;
height: 100%;
background-color: black;
display: inline-block;
position: absolute;
left: 0;
top: 0;

}

a {
  color: #00B7FF;
}

#board{
  position: absolute;
  top: 0;
  left: 0;
  user-select: none;
  -ms-user-select: none;
   -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-drag: none;
  overflow: visible;

}

#svg{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  overflow: visible;

}



header p {
  color: white;
  margin: 10px;
}

h1, p {
  margin: 20px;
}

.tile{
  position: absolute;
  z-index: 1;
}
.tile:hover {
  stroke: #495B87;
  z-index: 100;
  opacity: 1.0;
}

form {
    float: left;
  display: inline-block;
}
input {
  margin: 10px;

}